.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202634;
  padding: 10px;
  box-sizing: border-box;
  overflow:scroll;
  z-index: 999;
}

.halfWrapper {
  composes: wrapper;
  bottom: 0;
  top: auto;
  height: 50%;
}

.log {
  padding: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.info {
  color: rgba(255,255,255,0.2);
  font-size: 12px;
  margin-bottom: 5px;
}

.size {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
}

.size:hover {
  color: #FFF;
}
