.wrapper {
  padding: 10px;
  width: 100%;
}

.boilerplate {
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.boilerplate:hover {
  border-radius: 3px;
  background-color: rgba(0,0,0,0.5);
}
