.wrapper {
  padding: 10px;
  min-width: 500px;
  display: flex;
}

.column {
  flex: 1;
  margin: 0 5px;
}

.column:last-child {
  padding-left: 10px;
  border-left: 1px solid rgba(0,0,0,0.2);
}

.title {
  margin: 0;
  color: rgba(255,255,255,0.5);
  margin-bottom: 5px;
}

.search {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #202634;
  color: #cadaed;
  border: none;
  box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,0.15);
  margin-bottom: 5px;
}

.search:focus {
  outline: 0;
}

.search[disabled] {
  opacity: 0.5;
}

.error {
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  color: #eb1e64;
}

.isSearchingBundles {
  font-size: 14px;
  padding: 5px 0;
}

.bundle {
  padding: 5px;
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,0.3);
}

.bundle:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.bundle:hover {
  background: rgba(255,255,255, 0.1);
}

.bundlePackage:after {
  content: ", "
}

.bundlePackage:last-child:after {
  content: ""
}
.bundlePackage small {
  font-size: 12px;
  color: rgba(255,255,255,0.5);
}
