.wrapper {
  position: relative;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.preview {
  position: absolute;
  top: 52px;
  left: 100%;
  height: calc(100% - 52px);
  transition: left 0.2s ease-in;
  width: 100%;
  z-index: 99;
}

.showPreview {
  composes: preview;
  left: 0;
}
