.wrapper {
  position: relative;
  height: calc(100vh - 104px);
  width: 100%;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  width: 500px;
  text-align: center;
  z-index: 999999
}

.logo {
  width: 500px;
  height: 97px;
  background-image: url('/logo.png');
  background-size: contain;
}

.previewAndLog {
  flex: 1;
  position: relative;
  height: 100%;
}
