.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 600px;
  margin-left: -600px;
  margin-top: -300px;
  text-align: center;
  display: flex;
}

.column {
  flex: 1;
}

.wrapper h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.wrapper h3 {
  color: rgba(255,255,255,0.5);
  font-size: 30px;
}

.button {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #eb1e64;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.button:hover {
  opacity: 0.9;
}

.wrapper iframe {
  margin-top: 40px;
  border: 2px solid #111;
}
