.wrapper {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #232e3c;
  background-color: #202634;
  display: flex;
}

.column {
  border-right: 2px solid #232e3c;
  box-sizing: border-box;
  flex: 1;
}

.file {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #eb1e64;
}

.status {
  float: left;
  text-indent: 10px;
  line-height: 48px;
  color: rgba(255,255,255,0.5);
}

.buttonWrapper {
  float: left;
  margin-top: 9px;
  margin-left: 10px;
}

.packagesButton {
  float: left;
  margin-top: 9px;
}

.info {
  width: 300px;
  padding: 0 20px;
}

.info h3 {
  color: rgba(255,255,255, 0.5);
}

.info p {
  line-height: 20px;
}
